.projects {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2em 0;
}

.projects h3 {
	text-transform: uppercase;
}

.project {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid var(--clr-middle);
	box-shadow: 10px 10px 0px var(--clr-primary-2);
	border-radius: 1em;
	padding: 1em;
	margin: .5em 0 2em 0;
}

.project__img {
	width: 200px;
	height: 200px;
	border-radius: 10em;
	overflow: hidden;
}

.project__img img {
	width: 100%;
	height: 100%;
}

.project__detail {
	text-align: center;
	margin: 0 2em;
	flex: 1;
}