.navbar {
	display: flex;
	justify-content: space-around;
	background: var(--clr-dark);
	padding: 1.5em 0;
}

.navbar__logo {
	color: var(--clr-white)
}

.navbar__links {
	display: flex;
	justify-content: space;
	align-items: center;
	list-style-type: none;
}

.navbar__links li {
	margin: 0 1em;
}

.navbar__links li a {
	text-decoration: none;
	color: var(--clr-white);
}