:root {
	--clr-primary: #4CAF50;
	--clr-primary-2: #388E3C;
	--clr-warning: #ffbf00e1;
	--clr-white: #F5F4F8;
	--clr-middle: #7E7E7E;
	--clr-dark: #1B1A1F;
	--clr-dark-2: #2b2a2d;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

::selection {
	background-color: var(--clr-primary);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--clr-dark);
}

.container {
	max-width: 920px;
	padding: 0 .5em;
	margin: 0 auto;
}