:root {
	--clr-primary: #01ef01;
	--clr-primary-2: #09c509;
	--clr-secondary: #068606;
	--clr-secondary-2: #046b04;
	--clr-white: #F5F4F8;
	--clr-middle: #7E7E7E;
	--clr-dark: #1B1A1F;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--clr-white);
}

.container {
	width: 920px;
	padding: 0 .5em;
	margin: 0 auto;
}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loading svg {
	width: 200px;
	height: 200px;
}

.loading span {
	margin-top: .5em;
}

.welcome {
	display: inline;
	padding-left: .25em;
}

.welcome svg {
	width: 20px;
	height: 20px;
}

.circularProgressBar-red {
	fill: red;
}

.bg-react {
	background-color: #61dafb;
}

.bg-node {
	background-color: #43853d;
}

.bg-js {
	background-color: #efd81d;
}

.bg-redux {
	background-color: #7747bc;
}

.bg-express {
	background-color: #1B1A1F;
	/* random */
}

.bg-sequelize {
	background-color: #03afef;
}

.bg-postgres {
	background-color: #305e8b;
}

.bg-mysql {
	background-color: #005e86;
}

.bg-bootstrap {
	background-color: #533b78;
}

.bg-php {
	background-color: #7377ad;
}

.bg-laravel {
	background-color: #f72c1f;
}