:root {
	--clr-primary: #4CAF50;
	--clr-primary-2: #388E3C;
	--clr-white: #F5F4F8;
	--clr-middle: #7E7E7E;
	--clr-dark: #1B1A1F;
	--clr-dark-2: #2b2a2d;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--clr-dark);
}

.container {
	width: 920px;
	padding: 0 .5em;
	margin: 0 auto;
}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: var(--clr-white);
}

.loading svg {
	width: 200px;
	height: 200px;
}

.loading span {
	margin-top: .5em;
}

.welcome {
	display: inline;
	padding-left: .25em;
}

.welcome svg {
	width: 20px;
	height: 20px;
}

.button__top {
	pointer-events: none;
	opacity: 0;
	position: fixed;
	right: 50px;
	bottom: 50px;
	border: 0;
	padding: 1em;
	background: var(--clr-primary-2);
	color: var(--clr-white);
	z-index: 80;
	transition: opacity .2s ease;
	border-radius: 999em;
	cursor: pointer;
}

.button__top:hover {
	background: var(--clr-primary);
}

.button__top svg {
	fill: var(--clr-white);
	width: 30px;
	height: 30px;
}